
        #home-header {
            width: 100%;
            max-height: 100%;
            min-height: 100%;

            background: #171e29;
        }

        .inset-0 {
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
        }

        .bg-img {
            background: #1963da;
        }

        .mhv-99 {
            max-height: 99vh;
            max-width: 100vw;
        }

        .color-primary {
            background: #171e29;
        }

        .rtl {
            direction: rtl !important;
        }

        .ltr {
            direction: ltr !important;
        }

        .inset-0 {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .bottom-0 {
            bottom: 0.9rem !important;
        }

        .bottom-14 {
            bottom: 14rem !important;
        }

        .-bottom-50 {
            bottom: 50% !important;
            left: 33.333333% !important;
        }

        .right-0 {
            right: 0.9rem !important;
        }

        .left-0 {
            left: 0.9rem !important;
        }

        .mxh-20 {
            max-height: 25rem;
            min-height: 16rem;
        }

        .image {
            max-width: 50%;
            max-height: 65%;
            height: auto;
        }

        .h-85 {
            height: 85%;
        }

        .h-95 {
            height: 95%;
        }

        .w-80 {
            width: 85%;
        }

        .mw-20 {
            width: 20rem;
        }

        .fs-30 {
            font-size: 26px;
        }

        .cache-number {
            color: #aaaaaa;
        }

        .fs-26 {
            font-size: 32px;
            font-weight: bold;
        }

        .btn-red {
            background: #f31a44;
        }

        .color-blue {
            color: #3c87ed;
        }

        @media only screen and (max-width: 600px) {
            .position-sm-block {
                position: static !important;
            }

            .ltr-sm {
                direction: ltr !important;
            }

            .inset-0 {
                top: 0;
                bottom: 50%;
                left: 0;
                right: 0;
            }

            .image-sm {
                height: 30rem;
            }
        }
    