#gallery-3col-carousel .bg-wrap {
    background-color: #f4f5f6;
}
#gallery-3col-carousel--1 .bg-wrap {
    background-color: #f4f5f6;
}
#gallery-3col-carousel--0 .bg-wrap {
    background-color: #f4f5f6;
}
