@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 700;
    src: url(vazir/eot/Vazir-Bold.eot);
    src: url(vazir/eot/Vazir-Bold.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Bold.woff2) format('woff2'), url(vazir/woff/Vazir-Bold.woff) format('woff'), url(vazir/ttf/Vazir-Bold.ttf) format('truetype')
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 500;
    src: url(vazir/eot/Vazir-Medium.eot);
    src: url(vazir/eot/Vazir-Medium.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Medium.woff2) format('woff2'), url(vazir/woff/Vazir-Medium.woff) format('woff'), url(vazir/ttf/Vazir-Medium.ttf) format('truetype')
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url(vazir/eot/Vazir.eot);
    src: url(vazir/eot/Vazir.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir.woff2) format('woff2'), url(vazir/woff/Vazir.woff) format('woff'), url(vazir/ttf/Vazir.ttf) format('truetype')
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url(vazir/eot/Vazir-Light.eot);
    src: url(vazir/eot/Vazir-Light.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Light.woff2) format('woff2'), url(vazir/woff/Vazir-Light.woff) format('woff'), url(vazir/ttf/Vazir-Light.ttf) format('truetype')
}

*,
:after,
:before {
    box-sizing: border-box
}

a,
abbr,
address,
applet,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: baseline
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
textarea {
    display: block
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a {
    text-decoration: none
}

figure {
    margin: 0
}

[role=button],
button,
input[type=submit] {
    cursor: pointer;
    font-family: inherit
}

input[type=text],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none
}

button {
    background-color: transparent;
    box-shadow: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

html {
    font-size: 16px
}

@media only screen and (max-width:1200px) {
    html {
        font-size: 1.3vw
    }
}

@media only screen and (max-width:800px) {
    html {
        font-size: 16px
    }
}

@media only screen and (max-width:360px) {
    html {
        font-size: 4.5vw
    }
}

body {
    font-weight: 400
}

.page {
    direction: rtl;
    overflow: hidden
}

.comp {
    position: absolute
}

.comp>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: inherit
}

.comp-image {
    overflow: hidden
}

.comp-image img {
    display: block;
    width: 100%;
    height: 100%
}

.comp-button a {
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.comp-button a[data-scroll-target] {
    cursor: pointer
}

.comp-video-in {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}

.comp-video-in:after {
    content: "";
    display: block;
    padding-top: 57%
}

.comp-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.comp-form {
    height: auto!important
}

.form-field {
    position: relative;
    width: 100%
}

.form-field label {
    display: inline-block
}

input[type=email],
input[type=number],
input[type=text] {
    font-family: inherit;
    width: 100%
}

.form-field--error input[type=email],
.form-field--error input[type=number],
.form-field--error input[type=text] {
    color: #ff372f!important;
    border-color: #ff372f!important
}

::-webkit-input-placeholder {
    font-family: inherit;
    color: inherit;
    opacity: .7
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
::placeholder {
    font-family: inherit;
    color: inherit;
    opacity: .7
}

.form-btn {
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%
}

.form-btn .loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease-out
}

.form-btn.loading .loading-circle {
    opacity: 1
}

.form-btn.loading span {
    opacity: 0
}

.form-hint {
    position: absolute;
    right: 0;
    top: 100%;
    font-size: .75rem;
    margin-top: .25rem;
    color: #303336
}

.form-field--error .form-hint {
    color: #f43434
}

.container {
    width: 72.5rem;
    position: relative;
    height: 100%;
    margin: 0 auto
}

@media only screen and (max-width:800px) {
    .container {
        width: 22.5rem
    }
}

.comp-text {
    height: auto!important
}

.comp-text ol {
    list-style-type: decimal;
    list-style-position: outside
}

.comp-text ul {
    list-style-type: disc;
    list-style-position: outside
}

.comp-text li {
    margin: 0 1.25rem
}

.comp-text a {
    color: #2196f3
}

.comp-text a:hover {
    color: #1c73bb
}

.comp-plugin iframe {
    width: 100%;
    height: 100%
}

.modal {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 25, 44, .76);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s ease-out;
    direction: rtl
}

.modal--open {
    opacity: 1
}

.modal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.125rem;
    border-radius: .5rem;
    background-color: #fff;
    padding: 3.4375rem 1.875rem;
    box-shadow: 0 .3125rem .4375rem rgba(0, 0, 0, .13)
}

@media only screen and (max-width:800px) {
    .modal-wrap {
        width: 22.5rem;
        padding: 1.875rem .625rem
    }
}

.modal-icon {
    margin-bottom: 3.4375rem
}

@media only screen and (max-width:800px) {
    .modal-icon {
        margin-bottom: 1.875rem
    }
}

.modal-icon-success {
    height: 3.75rem
}

.modal-icon-error {
    height: 3rem
}

.modal-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #404040;
    margin-bottom: 3rem
}

@media only screen and (max-width:800px) {
    .modal-title {
        font-size: 1.125rem
    }
}

.modal-btns {
    display: flex;
    align-items: center;
    margin: 0 -.5rem
}

.modal-btn {
    display: inline-flex;
    padding: .6875rem 2.375rem;
    margin: 0 .5rem;
    border-radius: .4375rem;
    font-size: 1.125rem;
    border-style: solid;
    border-width: 1px
}

.modal-btn--contained {
    color: #fff
}

.modal-btn--outlined.modal-btn--primary {
    color: #3f98ee;
    border-color: #3f98ee
}

.modal-btn--outlined.modal-btn--secondary {
    color: #f4346f;
    border-color: #f4346f
}

.modal-btn--contained.modal-btn--primary {
    background-color: #3f98ee;
    border-color: #3f98ee
}

.modal-btn--contained.modal-btn--secondary {
    background-color: #f4346f;
    border-color: #f4346f
}

.comp-heading {
    height: auto!important
}

.comp-heading a,
.comp-heading a:hover {
    color: inherit
}

.loading-circle {
    display: block
}

.loading-circle:after {
    content: "";
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    color: inherit;
    border: .1875rem solid hsla(0, 0%, 100%, .4);
    border-top-color: #fff;
    -webkit-animation: kf-spin-cw 1s linear infinite;
    animation: kf-spin-cw 1s linear infinite
}

@-webkit-keyframes kf-spin-cw {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes kf-spin-cw {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

body {
    font-family: vazir, tahoma, arial;
    font-weight: normal
}

.comp-heading {
    font-family: vazir, tahoma, arial;
    font-weight: bold
}

#id001301 {
    top: 0rem;
    left: -8.75rem;
    height: 56.25rem;
    width: 90rem;
    background-image: url('images/576bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id012372 {
    top: 16.125rem;
    left: 53.625rem;
    width: 17.625rem;
    height: 4.875rem;
    font-size: 3.125rem;
    font-weight: 900;
    color: #383838;
}

#id022125 {
    top: 21.3125rem;
    left: 48.9375rem;
    width: 22.3125rem;
    height: 5.25rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #B0B0B0;
}

#id033094 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.4375rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #FFA20D;
    width: 10.8125rem;
    height: 3.375rem;
    left: 60.4375rem;
    top: 30.6875rem;
}

#id043454 {
    top: 38.875rem;
    left: 65.25rem;
    width: 5.375rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #B0B0B0;
}

#id054459 {
    top: 38.1875rem;
    left: 61.0625rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/577instagram.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id065215 {
    top: 38.1875rem;
    left: 56.375rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/578telegram.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id076289 {
    top: 38.1875rem;
    left: 51.6875rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/579twitter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#block0 {
    background-color: #F5F4F2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 56.25rem;
}

#id102791 {
    top: 6.875rem;
    left: 22.3125rem;
    width: 27.9375rem;
    height: 3.1875rem;
    font-size: 1.75rem;
    font-weight: 500;
    color: #404040;
    text-align: center;
}

#id116647 {
    top: 11.3125rem;
    left: 19.875rem;
    width: 32.75rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    color: #A5A5A5;
    text-align: center;
}

#id124368 {
    top: 19.375rem;
    left: 37.5rem;
    height: 13.75rem;
    width: 33.75rem;
    background-color: #ffffff;
    box-shadow: 0 12px 78px 0 #F8F8F8;
    border-radius: 1.25rem;
}

#id138222 {
    top: 21.9375rem;
    left: 64.6875rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-color: #FFF6E6;
}

#id141665 {
    top: 22.1875rem;
    left: 66rem;
    width: 0.5rem;
    height: 2.9375rem;
    font-size: 1.875rem;
    font-weight: 500;
    color: #FFA20D;
    text-align: center;
    line-height: 2.9375rem;
}

#id158665 {
    top: 22.375rem;
    left: 52.125rem;
    width: 10.5rem;
    height: 2.0625rem;
    font-size: 1.125rem;
    color: #383838;
}

#id169106 {
    top: 25.9375rem;
    left: 41.0625rem;
    width: 21.3125rem;
    height: 4.6875rem;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #A5A5A5;
}

#id173572 {
    top: 19.375rem;
    left: 1.25rem;
    height: 13.75rem;
    width: 33.75rem;
    background-color: #ffffff;
    box-shadow: 0 12px 78px 0 #F8F8F8;
    border-radius: 1.25rem;
}

#id183702 {
    top: 21.9375rem;
    left: 27.8125rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-color: #E6FAF8;
}

#id192696 {
    top: 22.25rem;
    left: 28.9375rem;
    width: 0.875rem;
    height: 2.9375rem;
    font-size: 1.875rem;
    font-weight: 500;
    color: #11D0BA;
    text-align: center;
    line-height: 2.9375rem;
}

#id1103538 {
    top: 22.375rem;
    left: 15.25rem;
    width: 10.5rem;
    height: 2.0625rem;
    font-size: 1.125rem;
    color: #383838;
}

#id1113380 {
    top: 25.9375rem;
    left: 3.875rem;
    width: 21.875rem;
    height: 4.6875rem;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #A5A5A5;
}

#id1126646 {
    top: 35.625rem;
    left: 37.5rem;
    height: 13.75rem;
    width: 33.75rem;
    background-color: #ffffff;
    box-shadow: 0 12px 78px 0 #F8F8F8;
    border-radius: 1.25rem;
}

#id1135997 {
    top: 38.1875rem;
    left: 64.6875rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-color: #FEF0F3;
}

#id1149435 {
    top: 38.5rem;
    left: 65.75rem;
    width: 1.1875rem;
    height: 2.9375rem;
    font-size: 1.875rem;
    font-weight: 500;
    color: #F57087;
    text-align: center;
    line-height: 2.9375rem;
}

#id1156765 {
    top: 38.8125rem;
    left: 50.75rem;
    width: 11.875rem;
    height: 2.0625rem;
    font-size: 1.125rem;
    color: #383838;
}

#id1167726 {
    top: 42.375rem;
    left: 41.0625rem;
    width: 21.3125rem;
    height: 4.6875rem;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #A5A5A5;
}

#id1175288 {
    top: 35.625rem;
    left: 1.25rem;
    height: 13.75rem;
    width: 33.75rem;
    background-color: #ffffff;
    box-shadow: 0 12px 78px 0 #F8F8F8;
    border-radius: 1.25rem;
}

#id1187321 {
    top: 38.1875rem;
    left: 27.8125rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-color: #F4EBF8;
}

#id1193009 {
    top: 38.5rem;
    left: 28.875rem;
    width: 1rem;
    height: 2.9375rem;
    font-size: 1.875rem;
    font-weight: 500;
    color: #943BBC;
    text-align: center;
    line-height: 2.9375rem;
}

#id1209135 {
    top: 38.8125rem;
    left: 15.25rem;
    width: 10.5rem;
    height: 2.0625rem;
    font-size: 1.125rem;
    color: #383838;
}

#id1213390 {
    top: 42.375rem;
    left: 3.875rem;
    width: 21.875rem;
    height: 4.6875rem;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #A5A5A5;
}

#block1 {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 56.25rem;
}

#id206211 {
    top: 0rem;
    left: 22.3125rem;
    width: 27.9375rem;
    height: 3.1875rem;
    font-size: 1.75rem;
    font-weight: 500;
    color: #404040;
    text-align: center;
}

#id218365 {
    top: 4.4375rem;
    left: 20.5rem;
    width: 31.5rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    color: #A5A5A5;
    text-align: center;
}

#id222110 {
    top: 12.5625rem;
    left: 49.5rem;
    height: 38.3125rem;
    width: 21.75rem;
    border-radius: 0.75rem;
    background-image: url('images/580img-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id234504 {
    top: 12.5625rem;
    left: 25.375rem;
    height: 17.875rem;
    width: 21.625rem;
    border-radius: 0.75rem;
    background-image: url('images/581img-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id242759 {
    top: 12.5625rem;
    left: 1.25rem;
    height: 17.8125rem;
    width: 21.625rem;
    border-radius: 0.75rem;
    background-image: url('images/582img-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id255833 {
    top: 33rem;
    left: 25.375rem;
    height: 17.8125rem;
    width: 21.625rem;
    border-radius: 0.75rem;
    background-image: url('images/583img-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id263022 {
    top: 33rem;
    left: 1.25rem;
    height: 17.875rem;
    width: 21.5rem;
    border-radius: 0.75rem;
    background-image: url('images/584img-5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#block2 {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 56.25rem;
}

#id305477 {
    top: 2.75rem;
    left: 57.25rem;
    height: 13.75rem;
    width: 13.75rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 12px 78px 0 #F5F5F5;
}

#id319895 {
    top: 6.375rem;
    left: 61.25rem;
    width: 4.8125rem;
    height: 3.875rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #AD59DC;
    text-align: center;
}

#id327665 {
    top: 7.125rem;
    left: 65.4375rem;
    width: 1.25rem;
    height: 2.75rem;
    font-size: 1.75rem;
    color: #AD59DC;
    text-align: center;
}

#id339774 {
    top: 11.875rem;
    left: 61.375rem;
    width: 6rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #A5A3AF;
    text-align: center;
}

#id345453 {
    top: 7.5rem;
    left: 41.25rem;
    height: 13.75rem;
    width: 13.75rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 12px 78px 0 #F5F5F5;
}

#id356880 {
    top: 10.875rem;
    left: 45.8125rem;
    width: 3rem;
    height: 3.875rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #11D0BA;
    text-align: center;
}

#id368567 {
    top: 11.625rem;
    left: 49.375rem;
    width: 1.25rem;
    height: 2.75rem;
    font-size: 1.75rem;
    color: #11D0BA;
    text-align: center;
}

#id378446 {
    top: 16.5625rem;
    left: 45.3125rem;
    width: 5.625rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #A5A3AF;
    text-align: center;
}

#id384581 {
    top: 19rem;
    left: 57.5rem;
    height: 13.75rem;
    width: 13.75rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 12px 78px 0 #F5F5F5;
}

#id398787 {
    top: 22.5rem;
    left: 62.125rem;
    width: 3rem;
    height: 3.875rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #FFA20D;
    text-align: center;
}

#id3102812 {
    top: 23.25rem;
    left: 65.6875rem;
    width: 1.25rem;
    height: 2.75rem;
    font-size: 1.75rem;
    color: #FFA20D;
    text-align: center;
}

#id3111670 {
    top: 28.125rem;
    left: 61.3125rem;
    width: 5.9375rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #A5A3AF;
    text-align: center;
}

#id3129033 {
    top: 23.75rem;
    left: 41.25rem;
    height: 13.75rem;
    width: 13.75rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 12px 78px 0 #F5F5F5;
}

#id3135681 {
    top: 27.25rem;
    left: 45.875rem;
    width: 3rem;
    height: 3.875rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #EA7FD8;
    text-align: center;
}

#id3145099 {
    top: 28rem;
    left: 49.4375rem;
    width: 1.25rem;
    height: 2.75rem;
    font-size: 1.75rem;
    color: #EA7FD8;
    text-align: center;
}

#id3154378 {
    top: 32.875rem;
    left: 45.625rem;
    width: 5rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #A5A3AF;
    text-align: center;
}

#id3162951 {
    top: 11.4375rem;
    left: 1.25rem;
    width: 31.75rem;
    height: 3.1875rem;
    font-size: 1.75rem;
    font-weight: 500;
    color: #404040;
}

#id3178896 {
    top: 15.875rem;
    left: 1.25rem;
    width: 31.75rem;
    height: 4.875rem;
    font-weight: 300;
    color: #A5A3AF;
}

#id3187232 {
    top: 24.5625rem;
    left: 27.75rem;
    width: 5.125rem;
    height: 1.75rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #B0B0B0;
    text-align: left;
}

#id3193703 {
    top: 23.875rem;
    left: 22.6875rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/577instagram.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id3207983 {
    top: 23.875rem;
    left: 18rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/578telegram.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id3211658 {
    top: 23.875rem;
    left: 13.3125rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    background-image: url('images/579twitter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#block3 {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 41.25rem;
}

#id401801 {
    top: 3.625rem;
    left: 20.375rem;
    width: 31.75rem;
    height: 3.1875rem;
    font-size: 1.75rem;
    font-weight: 500;
    color: #404040;
    text-align: center;
}

#id415184 {
    top: 8.125rem;
    left: 17.4375rem;
    width: 37.625rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    color: #A5A3AF;
    text-align: center;
}

#id427091 {
    top: 16.5rem;
    left: 37.5rem;
    height: 13.75rem;
    width: 33.75rem;
    border-radius: 1.25rem;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 12px 78px 0 rgba(0, 0, 0, 0.04);
}

#id434641 {
    top: 19.0625rem;
    left: 63.875rem;
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 0.5rem;
    background-image: url('images/588avatar1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 12px 78px 0 rgba(0, 0, 0, 0.04);
}

#id442528 {
    top: 19.125rem;
    left: 56.25rem;
    width: 5.125rem;
    height: 1.75rem;
    font-size: 1.125rem;
    color: #383838;
}

#id457502 {
    top: 21.4375rem;
    left: 50.1875rem;
    width: 11.25rem;
    height: 1.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #FFA20D;
}

#id463935 {
    top: 24.75rem;
    left: 40.0625rem;
    width: 27.75rem;
    height: 3.125rem;
    font-weight: 300;
    font-size: 0.9375rem;
    color: #A5A5A5;
}

#id474495 {
    top: 16.5rem;
    left: 1.25rem;
    height: 13.75rem;
    width: 33.75rem;
    border-radius: 1.25rem;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 12px 78px 0 rgba(0, 0, 0, 0.04);
}

#id483939 {
    top: 19.0625rem;
    left: 27.625rem;
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 0.5rem;
    background-image: url('images/589avatar2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 12px 78px 0 rgba(0, 0, 0, 0.04);
}

#id496882 {
    top: 19.125rem;
    left: 19.25rem;
    width: 6rem;
    height: 1.75rem;
    font-size: 1.125rem;
    color: #383838;
}

#id4101841 {
    top: 21.4375rem;
    left: 19rem;
    width: 6.25rem;
    height: 1.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #FFA20D;
}

#id4113444 {
    top: 24.75rem;
    left: 3.5625rem;
    width: 27.75rem;
    height: 3.125rem;
    font-weight: 300;
    font-size: 0.9375rem;
    color: #A5A5A5;
}

#block4 {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35.125rem;
}

#id506664 {
    top: 1.9375rem;
    left: 57.5rem;
    height: 5rem;
    width: 13.75rem;
    background-image: url('images/590logo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id517973 {
    top: 1.9375rem;
    left: 39.125rem;
    height: 5rem;
    width: 14.75rem;
    background-image: url('images/591logo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id526946 {
    top: 1.9375rem;
    left: 19.8125rem;
    height: 5rem;
    width: 14.75rem;
    background-image: url('images/592logo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id531388 {
    top: 1.9375rem;
    left: 1.25rem;
    height: 5rem;
    width: 14.75rem;
    background-image: url('images/593logo4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#block5 {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 18.1875rem;
}

#id605437 {
    top: -5.625rem;
    left: 1.25rem;
    height: 11.0625rem;
    width: 70rem;
    border-radius: 1.25rem;
    background-color: #FFA20D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 17px 47px 0 rgba(255, 162, 13, 0.2);
}

#id611005 {
    top: -1.25rem;
    left: 35rem;
    width: 30.375rem;
    height: 2.25rem;
    font-size: 1.4375rem;
    color: #ffffff;
}

#id625556 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.4375rem;
    font-weight: 500;
    color: #FFA20D;
    background-color: #ffffff;
    width: 15.5rem;
    height: 3.375rem;
    left: 7.5rem;
    top: -1.625rem;
}

#id632717 {
    top: 12.75rem;
    left: 22.3125rem;
    width: 27.9375rem;
    height: 3.1875rem;
    font-size: 1.75rem;
    text-align: center;
    color: #A5A5A5;
}

#id644870 {
    top: 19.0625rem;
    left: 23.6875rem;
    width: 25.125rem;
    height: 3.3125rem;
    font-size: 2.125rem;
    font-weight: bold;
    text-align: center;
    color: #404040;
}

#id652020 {
    top: 26.375rem;
    left: 48.5rem;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url('images/594linkedin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id667308 {
    top: 26.375rem;
    left: 41.4375rem;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url('images/579twitter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id672334 {
    top: 26.375rem;
    left: 34.375rem;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url('images/596instagram-golden.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id683857 {
    top: 26.375rem;
    left: 27.3125rem;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url('images/578telegram.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id691492 {
    top: 26.375rem;
    left: 20.25rem;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url('images/598github.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id6101122 {
    width: 65.1875rem;
    border-width: 0.03125rem;
    border-style: solid;
    border-color: #BEBEBE;
    left: 3.625rem;
    top: 37rem;
}

#id6113158 {
    top: 42rem;
    left: 30rem;
    width: 12.5rem;
    height: 1.375rem;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    color: #A5A5A5;
}

#block6 {
    background-color: #F5F4F2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48.375rem;
}

@media only screen and (max-width: 800px) {
    #id001301 {
        top: 14.625rem;
        left: -6.625rem;
        width: 40.5625rem;
        height: 25.375rem;
    }
    #id012372 {
        font-size: 1.5rem;
        top: 2.75rem;
        left: 6.75rem;
        width: 8.5rem;
        height: 2.375rem;
        text-align: center;
    }
    #id022125 {
        font-size: 0.875rem;
        top: 6.3125rem;
        left: 2.625rem;
        width: 17.25rem;
        height: 5.25rem;
    }
    #id033094 {
        font-size: 1.25rem;
        width: 8.8125rem;
        height: 3rem;
        left: 12.4375rem;
        top: 12.5rem;
    }
    #id043454 {
        display: none;
        ;
    }
    #id054459 {
        top: 12.75rem;
        left: 6.875rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id065215 {
        top: 12.75rem;
        left: 4.1875rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id076289 {
        top: 12.75rem;
        left: 1.4375rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #block0 {
        height: 40rem;
    }
    #id102791 {
        font-size: 1.3125rem;
        top: 3.125rem;
        left: 3.3125rem;
        width: 15.9375rem;
        height: 2rem;
    }
    #id116647 {
        font-size: 1rem;
        top: 6.0625rem;
        left: 1.25rem;
        width: 20.0625rem;
        height: 3.125rem;
    }
    #id124368 {
        top: 12.0625rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 16.375rem;
    }
    #id138222 {
        top: 14.4375rem;
        left: 10rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id141665 {
        font-size: 1.4375rem;
        top: 14.6875rem;
        left: 11.0625rem;
        width: 0.375rem;
        height: 2.25rem;
        line-height: 2.25rem;
    }
    #id158665 {
        font-size: 1rem;
        top: 17.875rem;
        left: 8.4375rem;
        width: 5.6875rem;
        height: 1.625rem;
        text-align: center;
    }
    #id169106 {
        font-size: 0.875rem;
        top: 20.3125rem;
        left: 3.4375rem;
        width: 15.6875rem;
        height: 6.25rem;
        text-align: center;
    }
    #id173572 {
        top: 30.9375rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 16.375rem;
    }
    #id183702 {
        top: 33.3125rem;
        left: 10rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id192696 {
        font-size: 1.4375rem;
        top: 33.5625rem;
        left: 10.875rem;
        width: 0.75rem;
        height: 2.25rem;
        line-height: 2.25rem;
    }
    #id1103538 {
        font-size: 1rem;
        top: 36.75rem;
        left: 7rem;
        width: 8.5625rem;
        height: 1.625rem;
        text-align: center;
    }
    #id1113380 {
        font-size: 0.875rem;
        top: 39.1875rem;
        left: 3.4375rem;
        width: 15.6875rem;
        height: 6rem;
        text-align: center;
    }
    #id1126646 {
        top: 49.8125rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 16.375rem;
    }
    #id1135997 {
        top: 52.1875rem;
        left: 10rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id1149435 {
        font-size: 1.4375rem;
        top: 52.4375rem;
        left: 10.875rem;
        width: 0.875rem;
        height: 2.25rem;
        line-height: 2.25rem;
    }
    #id1156765 {
        font-size: 1rem;
        top: 55.625rem;
        left: 6.3125rem;
        width: 9.875rem;
        height: 1.625rem;
        text-align: center;
    }
    #id1167726 {
        font-size: 0.875rem;
        top: 58.0625rem;
        left: 3.4375rem;
        width: 15.6875rem;
        height: 6.25rem;
        text-align: center;
    }
    #id1175288 {
        top: 68.6875rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 16.375rem;
    }
    #id1187321 {
        top: 71.0625rem;
        left: 10rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id1193009 {
        font-size: 1.4375rem;
        top: 71.3125rem;
        left: 10.875rem;
        width: 0.75rem;
        height: 2.25rem;
        line-height: 2.25rem;
    }
    #id1209135 {
        font-size: 1rem;
        top: 74.5rem;
        left: 7rem;
        width: 8.5625rem;
        height: 1.625rem;
        text-align: center;
    }
    #id1213390 {
        font-size: 0.875rem;
        top: 76.9375rem;
        left: 3.4375rem;
        width: 15.6875rem;
        height: 6rem;
        text-align: center;
    }
    #block1 {
        height: 86.625rem;
    }
    #id206211 {
        font-size: 1.3125rem;
        top: 1.5625rem;
        left: 3.3125rem;
        width: 15.9375rem;
        height: 2rem;
    }
    #id218365 {
        font-size: 1rem;
        top: 4.5rem;
        left: 1.25rem;
        width: 20.0625rem;
        height: 3.125rem;
    }
    #id222110 {
        display: none;
    }
    #id234504 {
        top: 9.875rem;
        left: 11.6875rem;
        width: 9.4375rem;
        height: 7.75rem;
    }
    #id242759 {
        top: 9.875rem;
        left: 1.4375rem;
        width: 9.5rem;
        height: 7.75rem;
    }
    #id255833 {
        top: 18.375rem;
        left: 11.6875rem;
        width: 9.4375rem;
        height: 7.75rem;
    }
    #id263022 {
        top: 18.375rem;
        left: 1.4375rem;
        width: 9.5rem;
        height: 7.875rem;
    }
    #block2 {
        height: 27.6875rem;
    }
    #id305477 {
        top: 12rem;
        left: 11.75rem;
        width: 9.375rem;
        height: 9.375rem;
    }
    #id319895 {
        font-size: 1.875rem;
        top: 14.1875rem;
        left: 14.75rem;
        width: 2.25rem;
        height: 2.9375rem;
    }
    #id327665 {
        font-size: 1.25rem;
        top: 14.75rem;
        left: 17.3125rem;
        width: 0.875rem;
        height: 2rem;
    }
    #id339774 {
        font-size: 1rem;
        top: 17.75rem;
        left: 13.75rem;
        width: 5.3125rem;
        height: 1.5625rem;
    }
    #id345453 {
        top: 12rem;
        left: 1.4375rem;
        width: 9.375rem;
        height: 9.375rem;
    }
    #id356880 {
        font-size: 1.875rem;
        top: 14.1875rem;
        left: 4.4375rem;
        width: 2.25rem;
        height: 2.9375rem;
    }
    #id368567 {
        font-size: 1.25rem;
        top: 14.6875rem;
        left: 7.3125rem;
        width: 0.875rem;
        height: 2rem;
    }
    #id378446 {
        font-size: 1rem;
        top: 17.75rem;
        left: 3.5625rem;
        width: 5.0625rem;
        height: 1.5625rem;
    }
    #id384581 {
        top: 22.3125rem;
        left: 11.75rem;
        width: 9.375rem;
        height: 9.375rem;
    }
    #id398787 {
        font-size: 1.875rem;
        top: 24.5rem;
        left: 14.75rem;
        width: 2.25rem;
        height: 2.9375rem;
    }
    #id3102812 {
        font-size: 1.25rem;
        top: 25.0625rem;
        left: 17.3125rem;
        width: 0.875rem;
        height: 2rem;
    }
    #id3111670 {
        font-size: 1rem;
        top: 28.0625rem;
        left: 13.6875rem;
        height: 1.5625rem;
    }
    #id3129033 {
        top: 22.3125rem;
        left: 1.4375rem;
        width: 9.375rem;
        height: 9.375rem;
    }
    #id3135681 {
        font-size: 1.875rem;
        top: 24.5rem;
        left: 4.4375rem;
        width: 2.25rem;
        height: 2.9375rem;
    }
    #id3145099 {
        font-size: 1.25rem;
        top: 25rem;
        left: 7rem;
        width: 0.875rem;
        height: 2rem;
    }
    #id3154378 {
        font-size: 1rem;
        top: 28.0625rem;
        left: 3.375rem;
        height: 1.5625rem;
    }
    #id3162951 {
        font-size: 1.3125rem;
        top: 1.3125rem;
        left: 3.3125rem;
        width: 15.9375rem;
        height: 2rem;
        text-align: center;
    }
    #id3178896 {
        font-size: 0.875rem;
        top: 4.25rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 5.5rem;
        text-align: center;
    }
    #id3187232 {
        top: 34.125rem;
        left: 14rem;
    }
    #id3193703 {
        top: 33.9375rem;
        left: 9.4375rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id3207983 {
        top: 33.9375rem;
        left: 6.3125rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #id3211658 {
        top: 33.9375rem;
        left: 3.1875rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
    }
    #block3 {
        height: 44.0625rem;
    }
    #id401801 {
        font-size: 1.3125rem;
        top: 1.4375rem;
        left: 3.3125rem;
        width: 15.9375rem;
        height: 2rem;
    }
    #id415184 {
        font-size: 1rem;
        top: 4.375rem;
        left: 1.25rem;
        width: 20.0625rem;
        height: 3.125rem;
    }
    #id427091 {
        top: 9.75rem;
        left: 1.25rem;
        width: 19.6875rem;
        height: 13.75rem;
    }
    #id434641 {
        top: 11.6875rem;
        left: 16.1875rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id442528 {
        font-size: 1rem;
        top: 11.75rem;
        left: 10.125rem;
        width: 4.625rem;
        height: 1.5625rem;
    }
    #id457502 {
        top: 13.625rem;
        left: 3.5625rem;
    }
    #id463935 {
        font-size: 0.875rem;
        top: 16.375rem;
        left: 2rem;
        width: 17.3125rem;
        height: 5.9375rem;
    }
    #id474495 {
        top: 26rem;
        left: 1.25rem;
        width: 19.6875rem;
        height: 13.75rem;
    }
    #id483939 {
        top: 27.9375rem;
        left: 16.1875rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id496882 {
        font-size: 1rem;
        top: 27.9375rem;
        left: 9.75rem;
        width: 5.375rem;
        height: 1.5625rem;
    }
    #id4101841 {
        top: 29.8125rem;
        left: 8.875rem;
    }
    #id4113444 {
        font-size: 0.875rem;
        top: 32.625rem;
        left: 2rem;
        width: 17.3125rem;
        height: 5.9375rem;
    }
    #block4 {
        height: 42.25rem;
    }
    #id506664 {
        top: 0.25rem;
        left: 12.375rem;
        width: 8.75rem;
        height: 3.1875rem;
    }
    #id517973 {
        top: 0.25rem;
        left: 1.4375rem;
        width: 9.5rem;
        height: 3.1875rem;
    }
    #id526946 {
        top: 4.1875rem;
        left: 13.3125rem;
        width: 7.8125rem;
        height: 2.625rem;
    }
    #id531388 {
        top: 4.1875rem;
        left: 1.4375rem;
        width: 7.8125rem;
        height: 2.625rem;
    }
    #block5 {
        height: 14.875rem;
    }
    #id605437 {
        top: -6.4375rem;
        left: 1.4375rem;
        width: 19.6875rem;
        height: 12.9375rem;
    }
    #id611005 {
        text-align: center;
        font-size: 1.125rem;
        top: -4.375rem;
        left: 2.9375rem;
        width: 16.625rem;
        height: 4rem;
    }
    #id625556 {
        font-size: 1.25rem;
        width: 13.5625rem;
        height: 3rem;
        left: 4.5rem;
        top: 1.625rem;
    }
    #id632717 {
        font-size: 1.4375rem;
        top: 10.125rem;
        left: 0.9375rem;
        width: 20.625rem;
        height: 2.4375rem;
    }
    #id644870 {
        font-size: 1.4375rem;
        top: 14.125rem;
        left: 2.75rem;
        width: 17rem;
        height: 2.25rem;
    }
    #id652020 {
        top: 18.625rem;
        left: 18rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id667308 {
        top: 18.625rem;
        left: 13.875rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id672334 {
        top: 18.625rem;
        left: 9.75rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id683857 {
        top: 18.625rem;
        left: 5.625rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id691492 {
        top: 18.625rem;
        left: 1.4375rem;
        width: 3.125rem;
        height: 3.125rem;
    }
    #id6101122 {
        width: 15rem;
        left: 3.75rem;
        top: 26.75rem;
    }
    #id6113158 {
        top: 30.25rem;
        left: 5.125rem;
    }
    #block6 {
        height: 35.4375rem;
    }
}