// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.lead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .sidebar {
        width: 260px;
        height: 100vh;
        position: fixed;
        .flex-row {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
    }
    .content {
        flex: 1 0 auto;
        margin-right: 260px;
    }
}