// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
*, :after, :before {
  box-sizing: border-box;
}
::selection {
  background-color: $selection-background;
  color: $selection-text;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: $direction;
}
body {
  background-color: $background-color;
  padding: 0;

  &::-webkit-scrollbar {
    width: .5rem;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $scrollbar-track;
  
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: $border-radius;
  }
}