
        @font-face {
            font-family: vazir;
            font-style: normal;
            font-weight: 700;
            src: url(vazir/eot/Vazir-Bold.eot);
            src: url(vazir/eot/Vazir-Bold.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Bold.woff2) format('woff2'), url(vazir/woff/Vazir-Bold.woff) format('woff'), url(vazir/ttf/Vazir-Bold.ttf) format('truetype')
        }

        @font-face {
            font-family: vazir;
            font-style: normal;
            font-weight: 500;
            src: url(vazir/eot/Vazir-Medium.eot);
            src: url(vazir/eot/Vazir-Medium.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Medium.woff2) format('woff2'), url(vazir/woff/Vazir-Medium.woff) format('woff'), url(vazir/ttf/Vazir-Medium.ttf) format('truetype')
        }

        @font-face {
            font-family: vazir;
            font-style: normal;
            font-weight: normal;
            src: url(vazir/eot/Vazir.eot);
            src: url(vazir/eot/Vazir.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir.woff2) format('woff2'), url(vazir/woff/Vazir.woff) format('woff'), url(vazir/ttf/Vazir.ttf) format('truetype')
        }

        @font-face {
            font-family: vazir;
            font-style: normal;
            font-weight: 300;
            src: url(vazir/eot/Vazir-Light.eot);
            src: url(vazir/eot/Vazir-Light.eot?#iefix) format('embedded-opentype'), url(vazir/woff2/Vazir-Light.woff2) format('woff2'), url(vazir/woff/Vazir-Light.woff) format('woff'), url(vazir/ttf/Vazir-Light.ttf) format('truetype')
        }

        *,
        :after,
        :before {
            box-sizing: border-box
        }

        a,
        abbr,
        address,
        applet,
        article,
        aside,
        audio,
        b,
        blockquote,
        body,
        button,
        canvas,
        caption,
        cite,
        code,
        dd,
        del,
        details,
        dfn,
        div,
        dl,
        dt,
        em,
        embed,
        fieldset,
        figcaption,
        figure,
        footer,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        header,
        hgroup,
        html,
        i,
        iframe,
        img,
        input,
        ins,
        kbd,
        label,
        legend,
        li,
        mark,
        menu,
        nav,
        object,
        ol,
        output,
        p,
        pre,
        q,
        ruby,
        s,
        samp,
        section,
        select,
        small,
        span,
        strike,
        strong,
        sub,
        summary,
        sup,
        table,
        tbody,
        td,
        textarea,
        tfoot,
        th,
        thead,
        time,
        tr,
        tt,
        u,
        ul,
        var,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: inherit;
            font-weight: inherit;
            vertical-align: baseline
        }

        html {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section,
        textarea {
            display: block
        }

        ol,
        ul {
            list-style: none
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        blockquote,
        q {
            quotes: none
        }

        blockquote:after,
        blockquote:before,
        q:after,
        q:before {
            content: "";
            content: none
        }

        a {
            text-decoration: none
        }

        figure {
            margin: 0
        }

        [role=button],
        button,
        input[type=submit] {
            cursor: pointer;
            font-family: inherit
        }

        input[type=text],
        textarea {
            -moz-appearance: none;
            -webkit-appearance: none
        }

        button {
            background-color: transparent;
            box-shadow: none
        }

        [type=button]::-moz-focus-inner,
        [type=reset]::-moz-focus-inner,
        [type=submit]::-moz-focus-inner,
        button::-moz-focus-inner {
            border-style: none;
            padding: 0
        }

        [type=button]:-moz-focusring,
        [type=reset]:-moz-focusring,
        [type=submit]:-moz-focusring,
        button:-moz-focusring {
            outline: 1px dotted ButtonText
        }

        html {
            font-size: 16px
        }

        @media only screen and (max-width:1200px) {
            html {
                font-size: 1.3vw
            }
        }

        @media only screen and (max-width:800px) {
            html {
                font-size: 16px
            }
        }

        @media only screen and (max-width:360px) {
            html {
                font-size: 4.5vw
            }
        }

        body {
            font-weight: 400
        }

        .page {
            direction: rtl;
            overflow: hidden
        }

        .comp {
            position: absolute
        }

        .comp>a {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: inherit
        }

        .comp-image {
            overflow: hidden
        }

        .comp-image img {
            display: block;
            width: 100%;
            height: 100%
        }

        .comp-button a {
            color: inherit;
            display: inline-flex;
            align-items: center;
            justify-content: center
        }

        .comp-button a[data-scroll-target] {
            cursor: pointer
        }

        .comp-video-in {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%)
        }

        .comp-video-in:after {
            content: "";
            display: block;
            padding-top: 57%
        }

        .comp-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }

        .comp-form {
            height: auto !important
        }

        .form-field {
            position: relative;
            width: 100%
        }

        .form-field label {
            display: inline-block
        }

        input[type=email],
        input[type=number],
        input[type=text] {
            font-family: inherit;
            width: 100%
        }

        .form-field--error input[type=email],
        .form-field--error input[type=number],
        .form-field--error input[type=text] {
            color: #ff372f !important;
            border-color: #ff372f !important
        }

        ::-webkit-input-placeholder {
            font-family: inherit;
            color: inherit;
            opacity: .7
        }

        :-moz-placeholder,
        :-ms-input-placeholder,
        ::-moz-placeholder,
        ::-webkit-input-placeholder,
        ::placeholder {
            font-family: inherit;
            color: inherit;
            opacity: .7
        }

        .form-btn {
            position: relative;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            width: 100%
        }

        .form-btn .loading-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s ease-out
        }

        .form-btn.loading .loading-circle {
            opacity: 1
        }

        .form-btn.loading span {
            opacity: 0
        }

        .form-hint {
            position: absolute;
            right: 0;
            top: 100%;
            font-size: .75rem;
            margin-top: .25rem;
            color: #303336
        }

        .form-field--error .form-hint {
            color: #f43434
        }

        .container {
            width: 72.5rem;
            position: relative;
            height: 100%;
            margin: 0 auto
        }

        @media only screen and (max-width:800px) {
            .container {
                width: 22.5rem
            }
        }

        .comp-text {
            height: auto !important
        }

        .comp-text ol {
            list-style-type: decimal;
            list-style-position: outside
        }

        .comp-text ul {
            list-style-type: disc;
            list-style-position: outside
        }

        .comp-text li {
            margin: 0 1.25rem
        }

        .comp-text a {
            color: #2196f3
        }

        .comp-text a:hover {
            color: #1c73bb
        }

        .comp-plugin iframe {
            width: 100%;
            height: 100%
        }

        .modal {
            position: fixed;
            z-index: 2000;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(13, 25, 44, .76);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity .2s ease-out;
            direction: rtl
        }

        .modal--open {
            opacity: 1
        }

        .modal-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33.125rem;
            border-radius: .5rem;
            background-color: #fff;
            padding: 3.4375rem 1.875rem;
            box-shadow: 0 .3125rem .4375rem rgba(0, 0, 0, .13)
        }

        @media only screen and (max-width:800px) {
            .modal-wrap {
                width: 22.5rem;
                padding: 1.875rem .625rem
            }
        }

        .modal-icon {
            margin-bottom: 3.4375rem
        }

        @media only screen and (max-width:800px) {
            .modal-icon {
                margin-bottom: 1.875rem
            }
        }

        .modal-icon-success {
            height: 3.75rem
        }

        .modal-icon-error {
            height: 3rem
        }

        .modal-title {
            text-align: center;
            font-weight: 500;
            font-size: 1.5rem;
            color: #404040;
            margin-bottom: 3rem
        }

        @media only screen and (max-width:800px) {
            .modal-title {
                font-size: 1.125rem
            }
        }

        .modal-btns {
            display: flex;
            align-items: center;
            margin: 0 -.5rem
        }

        .modal-btn {
            display: inline-flex;
            padding: .6875rem 2.375rem;
            margin: 0 .5rem;
            border-radius: .4375rem;
            font-size: 1.125rem;
            border-style: solid;
            border-width: 1px
        }

        .modal-btn--contained {
            color: #fff
        }

        .modal-btn--outlined.modal-btn--primary {
            color: #3f98ee;
            border-color: #3f98ee
        }

        .modal-btn--outlined.modal-btn--secondary {
            color: #f4346f;
            border-color: #f4346f
        }

        .modal-btn--contained.modal-btn--primary {
            background-color: #3f98ee;
            border-color: #3f98ee
        }

        .modal-btn--contained.modal-btn--secondary {
            background-color: #f4346f;
            border-color: #f4346f
        }

        .comp-heading {
            height: auto !important
        }

        .comp-heading a,
        .comp-heading a:hover {
            color: inherit
        }

        .loading-circle {
            display: block
        }

        .loading-circle:after {
            content: "";
            display: block;
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            color: inherit;
            border: .1875rem solid hsla(0, 0%, 100%, .4);
            border-top-color: #fff;
            -webkit-animation: kf-spin-cw 1s linear infinite;
            animation: kf-spin-cw 1s linear infinite
        }

        @-webkit-keyframes kf-spin-cw {
            0% {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(1turn)
            }
        }

        @keyframes kf-spin-cw {
            0% {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(1turn)
            }
        }

        body {
            font-family: vazir, tahoma, arial;
            font-weight: normal
        }

        .comp-heading {
            font-family: vazir, tahoma, arial;
            font-weight: bold
        }

        #id002385 {
            height: 42.875rem;
            width: 72.5rem;
            left: 0rem;
            top: 4rem;
        }

        #id016980 {
            height: 19.8125rem;
            width: 25.125rem;
            left: 23.625rem;
            top: -3.125rem;
            opacity: 1;
        }

        #id028762 {
            height: 8.9375rem;
            width: 17.6875rem;
            left: 26.4375rem;
            top: 42.5rem;
            opacity: 1;
        }

        #block0 {
            background-color: #ffffff;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 50.1875rem;
        }

        #id107952 {
            height: 24.375rem;
            width: 22.6875rem;
            left: 0.0625rem;
            top: 40.875rem;
        }

        #id113598 {
            height: 24.4375rem;
            width: 22.6875rem;
            left: 24.9375rem;
            top: 40.8125rem;
        }

        #id125465 {
            height: 24.4375rem;
            width: 22.75rem;
            left: 49.6875rem;
            top: 40.8125rem;
        }

        #id134975 {
            height: 24.5rem;
            width: 22.75rem;
            left: 49.6875rem;
            top: 8.4375rem;
        }

        #id144821 {
            height: 24.375rem;
            width: 22.625rem;
            left: 24.9375rem;
            top: 8.4375rem;
        }

        #id153353 {
            height: 24.4375rem;
            width: 22.6875rem;
            left: 0.0625rem;
            top: 8.4375rem;
        }

        #id169747 {
            color: #666666;
            width: 27.0625rem;
            left: 21.75rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.75rem;
            top: 2.4375rem;
            text-align: center;
            direction: rtl;
        }

        #id176589 {
            color: #666666;
            width: 8.3125rem;
            left: 56.8125rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 34.75rem;
            text-align: center;
            direction: rtl;
        }

        #id184626 {
            color: #666666;
            width: 17.5rem;
            left: 27.5rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 34.75rem;
            text-align: center;
            direction: rtl;
        }

        #id198882 {
            color: #666666;
            width: 17.5rem;
            left: 2.5rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 34.75rem;
            text-align: center;
            direction: rtl;
        }

        #id1101483 {
            color: #666666;
            width: 8.3125rem;
            left: 56.9375rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 37.0625rem;
            text-align: center;
            direction: rtl;
        }

        #id1119461 {
            color: #666666;
            width: 8.3125rem;
            left: 32.0625rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 37.0625rem;
            text-align: center;
            direction: rtl;
        }

        #id1123166 {
            color: #666666;
            width: 8.3125rem;
            left: 7.3125rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 37rem;
            text-align: center;
            direction: rtl;
        }

        #id1137710 {
            color: #666666;
            width: 17.5rem;
            left: 2.6875rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 67.25rem;
            text-align: center;
            direction: rtl;
        }

        #id1145535 {
            color: #666666;
            width: 8.3125rem;
            left: 7.25rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 69.5rem;
            text-align: center;
            direction: rtl;
        }

        #id1156285 {
            color: #666666;
            width: 17.5rem;
            left: 27.5rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 67.25rem;
            text-align: center;
            direction: rtl;
        }

        #id1163412 {
            color: #666666;
            width: 8.3125rem;
            left: 32.125rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 69.5rem;
            text-align: center;
            direction: rtl;
        }

        #id1173816 {
            color: #666666;
            width: 17.5rem;
            left: 52.0625rem;
            height: 3.1875rem;
            font-weight: bold;
            font-size: 1.125rem;
            top: 67.1875rem;
            text-align: center;
            direction: rtl;
        }

        #id1181922 {
            color: #666666;
            width: 8.3125rem;
            left: 56.9375rem;
            height: 3.1875rem;
            font-size: 1rem;
            top: 69.5rem;
            text-align: center;
            direction: rtl;
        }

        #block1 {
            background-color: #ffffff;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 75.5rem;
        }

        #id208476 {
            color: #ffffff;
            width: 41.875rem;
            left: 15.625rem;
            height: 3rem;
            font-weight: 500;
            font-size: 1.75rem;
            top: 13.125rem;
            text-align: center;
            direction: rtl;
        }

        #id218852 {
            top: 17.6875rem;
            left: 15.6875rem;
            width: 41.875rem;
            height: 3.5rem;
            font-size: 1rem;
            direction: rtl;
            text-align: center;
        }

        #id229058 {
            color: #ffffff;
            width: 8.4375rem;
            left: 43.5rem;
            height: 3rem;
            font-weight: 500;
            font-size: 1.125rem;
            top: 32.0625rem;
            text-align: center;
            direction: rtl;
        }

        #id235208 {
            color: #ffffff;
            width: 8.4375rem;
            left: 32.1875rem;
            height: 3rem;
            font-weight: 500;
            font-size: 1.125rem;
            top: 32rem;
            text-align: center;
            direction: rtl;
        }

        #id248939 {
            color: #ffffff;
            width: 8.4375rem;
            left: 20.75rem;
            height: 3rem;
            font-weight: 500;
            font-size: 1.125rem;
            top: 32.0625rem;
            text-align: center;
            direction: rtl;
        }

        #id259893 {
            height: 8.9375rem;
            width: 17.75rem;
            left: 27.4375rem;
            top: 35.6875rem;
        }

        #id264411 {
            height: 4.4375rem;
            width: 13.25rem;
            left: 29.6875rem;
            top: 6.125rem;
        }

        #id273677 {
            height: 5.25rem;
            width: 5.25rem;
            left: 22.3125rem;
            top: 26.75rem;
            opacity: 1;
        }

        #id284830 {
            height: 5.125rem;
            width: 5.125rem;
            left: 45.0625rem;
            top: 26.875rem;
            opacity: 1;
        }

        #id297461 {
            height: 5.25rem;
            width: 5.25rem;
            left: 33.6875rem;
            top: 26.6875rem;
            opacity: 1;
        }

        #block2 {
            background-color: rgba(95, 163, 230, 1);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 50.0625rem;
        }

        @media only screen and (max-width: 800px) {
            #id002385 {
                height: 18.625rem;
                width: 31.5625rem;
                left: -4.5rem;
                top: 3.375rem;
                opacity: 1;
            }

            #id016980 {
                height: 13.625rem;
                width: 17.375rem;
                left: 2.5625rem;
                top: -1.375rem;
            }

            #id028762 {
                height: 5.875rem;
                width: 11.625rem;
                left: 5.4375rem;
                top: 19.375rem;
            }

            #block0 {
                height: 25.375rem;
            }

            #id107952 {
                height: 10.75rem;
                width: 9.9375rem;
                left: 0.9375rem;
                top: 37.5625rem;
            }

            #id113598 {
                height: 10.875rem;
                width: 10.125rem;
                left: 0.875rem;
                top: 21.875rem;
            }

            #id125465 {
                height: 10.8125rem;
                width: 10rem;
                left: 11.625rem;
                top: 21.875rem;
            }

            #id134975 {
                height: 10.8125rem;
                width: 10.0625rem;
                left: 11.625rem;
                top: 4.875rem;
            }

            #id144821 {
                height: 10.8125rem;
                width: 10.0625rem;
                left: 0.875rem;
                top: 4.9375rem;
            }

            #id153353 {
                height: 10.75rem;
                width: 10rem;
                left: 11.5625rem;
                top: 37.5625rem;
            }

            #id169747 {
                font-size: 1.0625rem;
                width: 16.5625rem;
                height: 2.5625rem;
                left: 2.9375rem;
                top: 1rem;
            }

            #id176589 {
                font-size: 0.75rem;
                width: 6.5625rem;
                height: 2.5625rem;
                left: 13.375rem;
                top: 16.8125rem;
            }

            #id184626 {
                font-size: 0.75rem;
                width: 8.4375rem;
                height: 2.5625rem;
                left: 1.75rem;
                top: 16.8125rem;
            }

            #id198882 {
                font-size: 0.75rem;
                width: 7.6875rem;
                height: 2.5625rem;
                left: 12.8125rem;
                top: 49.375rem;
            }

            #id1101483 {
                font-size: 0.625rem;
                width: 4.5625rem;
                height: 2.5625rem;
                left: 14.375rem;
                top: 18.0625rem;
            }

            #id1119461 {
                font-size: 0.625rem;
                width: 6.3125rem;
                height: 2.5625rem;
                left: 2.8125rem;
                top: 35.0625rem;
            }

            #id1123166 {
                font-size: 0.625rem;
                width: 6.125rem;
                height: 2.5625rem;
                left: 13.625rem;
                top: 50.6875rem;
            }

            #id1137710 {
                font-size: 0.75rem;
                width: 9.375rem;
                height: 2.5625rem;
                left: 1.25rem;
                top: 49.375rem;
            }

            #id1145535 {
                font-size: 0.625rem;
                width: 3.1875rem;
                height: 2.5625rem;
                left: 4.375rem;
                top: 50.6875rem;
            }

            #id1156285 {
                font-size: 0.75rem;
                width: 9rem;
                height: 2.5625rem;
                left: 1.4375rem;
                top: 33.6875rem;
            }

            #id1163412 {
                font-size: 0.625rem;
                width: 6.1875rem;
                height: 2.5625rem;
                left: 2.875rem;
                top: 19.3125rem;
            }

            #id1173816 {
                font-size: 0.75rem;
                width: 6.25rem;
                height: 2.5625rem;
                left: 13.4375rem;
                top: 33.6875rem;
            }

            #id1181922 {
                font-size: 0.625rem;
                width: 6.5rem;
                height: 2.5625rem;
                left: 13.4375rem;
                top: 35rem;
            }

            #block1 {
                height: 54.5625rem;
            }

            #id208476 {
                font-size: 1rem;
                top: 8.375rem;
                left: 1.625rem;
                width: 19.3125rem;
                height: 2.375rem;
                text-align: center;
            }

            #id218852 {
                font-size: 0.875rem;
                top: 11.1875rem;
                left: 1.4375rem;
                width: 19.6875rem;
                height: 6.25rem;
                text-align: center;
            }

            #id229058 {
                font-size: 0.875rem;
                top: 26.3125rem;
                left: 14.5625rem;
                width: 5rem;
                height: 2.375rem;
                text-align: center;
            }

            #id235208 {
                font-size: 0.875rem;
                top: 26.3125rem;
                left: 9.1875rem;
                width: 4.3125rem;
                height: 2.375rem;
                text-align: center;
            }

            #id248939 {
                font-size: 0.875rem;
                top: 26.1875rem;
                left: 2.9375rem;
                width: 5.1875rem;
                height: 2.375rem;
                text-align: center;
            }

            #id259893 {
                height: 5.75rem;
                width: 11.4375rem;
                left: 5.5rem;
                top: 30.625rem;
            }

            #id264411 {
                height: 3rem;
                width: 9.1875rem;
                left: 6.1875rem;
                top: 4.0625rem;
            }

            #id273677 {
                height: 4.5625rem;
                width: 4.5625rem;
                left: 3.25rem;
                top: 22.0625rem;
                opacity: 1;
            }

            #id284830 {
                height: 4.625rem;
                width: 4.625rem;
                left: 14.6875rem;
                top: 22.0625rem;
                opacity: 1;
            }

            #id297461 {
                height: 4.6875rem;
                width: 4.6875rem;
                left: 8.875rem;
                top: 22rem;
                opacity: 1;
            }

            #block2 {
                height: 39.625rem;
            }
        }
    