#header-img-modal .bg-wrap {
    background-color: #44ADC7;
}

#header-img-modal .bg {
    background-image: url('../images/bg-69.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
}
#text-3col .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.1;
}
#benefits-2col-5 .bg-wrap{
    background: #f4f5f6;
}#contact-form-2 .bg {
    background-position: center bottom;
    background-size: cover;
    opacity: 1;
    background-image: url(../images/bg-11.jpg);
}
#testimonial-3col .bg-wrap {
    background-color: #F2F0ED;
}#footer-logo-text-2 .bg {
    background-image: url('../images/bg-sign-primary.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    opacity:0.05;
}
