#womenCloths__heroSection{
    padding:0;
    font-family: 'Sky';
    text-align: right;
    font-weight: 800;
}
#womenCloths__heroSection *{
    margin: 0;
    padding: 0;
}
#womenCloths__heroSection h1{
    font-family: 'cairo';
}

#womenCloths__heroSection h2{
    width: 100%;
    padding:0;
    font-family: 'Sky';
    font-weight: 800;
}
#womenCloths__heroSection h3{
    padding:0;
    font-family: 'Sky';
    font-weight: 600;
    width: 100%;
}
#womenCloths__heroSection p{
    padding: 0;
    font-family: 'Cairo';
    font-weight: 400;
    width: 100%;
    color: rgb(62 62 62);
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 20px;
}
#womenCloths__heroSection .bg-container{
    background: linear-gradient(90deg, rgba(225,225,225,0) 60%, rgba(35,35,35,1) 20%);
    max-width: 100%;
    padding: 0 80px;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    overflow: hidden;
}
#womenCloths__heroSection .container{
    margin: 0 auto;
    max-width: 90%;
}
#womenCloths__heroSection .container .content{
    flex: 1;
    flex-shrink: 1;
    flex-grow: 1;
}
#womenCloths__heroSection .container .content-img  {
    flex: 1;
    flex-shrink: 0;
}
#womenCloths__heroSection .container img{
    
    width: 85%;
    object-fit: cover;
    object-position: top;

}
#womenCloths__heroSection img.bg{
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
    width: 100%;
}

#womenCloths__heroSection .container .content .content-text{
    padding: 0 25px 0 25px;
}

#womenCloths__heroSection .container .content .content-text h2{
    color: black;
    font-size: 6.5rem;
}
#womenCloths__heroSection .container .content .content-text .divider{
    margin-bottom: 20px;
    height: 10px;
    width: 100%;
    position: relative;
}
#womenCloths__heroSection .container .content .content-text .divider div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: rgb(255, 172, 0);
    z-index: 0;
}
#womenCloths__heroSection .container .content .content-text h3{
    color:rgb(255, 172, 0);
    font-size: 4rem;

}
#womenCloths__heroSection .container .content .content-text a{
    padding: 15px 40px;
    background: rgb(255, 172, 0);
    color: white;
    border-radius: 6px;

}



#womenCloths__heroSection .container .social-media{
    flex: 0.6;
}
#womenCloths__heroSection .container .social-media .social-media-container{
    padding-right: 40px;
    flex-direction: column;
}

#womenCloths__heroSection .container .social-media .social-icon{
    margin: 5px 0;
    padding: 10px;
    border-radius: 50%;
    background: rgb(255, 172, 0);
    line-height: 0;
}
#womenCloths__heroSection .container .social-media .social-icon svg{
    fill: white;
}

@media screen and (max-width: 767px){
    #womenCloths__heroSection .bg-container{
        height: 630px;
    }
    #womenCloths__heroSection .container{
        max-width: 100%;
        flex-direction: column;
        height: 100%;
    }
    #womenCloths__heroSection .container .social-media{
        position: absolute;
        bottom: 50px;
        right: 25px;
        z-index: 2;
    }
    #womenCloths__heroSection .container .social-media .social-media-container{
        padding-right: 0;
        flex-direction: row;
    }
    #womenCloths__heroSection .container .social-media .social-icon{
        margin: 5px 5px;
    }

    #womenCloths__heroSection .container .content-img{
        position: absolute;
        bottom: 0;
        right: -50px;
    }
    #womenCloths__heroSection .container img{
        width: 100%;
    }

    #womenCloths__heroSection .container .content{
        background: rgba(255,255,255, 0.75);
    }
    #womenCloths__heroSection .container .content .content-text h3{
        color: rgb(255, 172, 0);
        font-size: 3rem;
    }
    #womenCloths__heroSection .container .content .content-text h2{
        color: white;
        font-size: 4.5rem;
        mix-blend-mode: difference;
    }
}
@media (min-width:550px) and (max-width: 767px){
    #womenCloths__heroSection .container img{
        width: 65%;
    }
}
@media (min-width:768px) and (max-width:1024px){
    #womenCloths__heroSection .bg-container{
        height: 650px;
    }
    #womenCloths__heroSection .container{
        max-width:100%;
    }
    #womenCloths__heroSection .container .social-media .social-media-container{
        flex: 0.1;
        padding-right: 15px;
    }

    #womenCloths__heroSection .container .content .content-text h3{
        font-size: 3rem;
    }
    #womenCloths__heroSection .container .content .content-text h2{
        font-size: 4.5rem;
    }
    #womenCloths__heroSection p{
        font-size: 14px;
    }
    #womenCloths__heroSection .container .content .content-text a{
        padding: 10px 40px;
    }
}