.card-c {
  display: flex;

  @include mq_max($sm) {
    max-width: 260px;
    margin: 0 auto;
  }

  &__icon {
    flex: none;
    margin-left: rem(15);

    svg {
      width: rem(54);
			height: rem(54);
			
			@include mq_max($md){
				width: rem(48);
				height: rem(48);
			}
			@include mq_max($sm){
				width: rem(40);
				height: rem(40);
			}
    }
  }
  &__text {
    @extend %type-light;
    color: #fff;
    font-size: rem(14);
    text-align: justify;
  }
}
