.card-b {
	text-align: center;

  @include mq_max($sm) {
    max-width:280px;
    margin: 0 auto;
  }
  &__icon {
    margin-bottom: rem(40);

    img {
      display: block;
      height: rem(97);
      width: auto;
      margin: 0 auto;

      @include mq_max($md){
        height: 90px;
      }
      @include mq_max($sm){
        height: 80px;
      }
      @include mq_max($xs){
        height: 70px;
	  }
	  
	  .layout--about &{
		  margin: 0 auto rem(-15);
	  }
    }
  }
  &__title {
    @extend %h3;
		color: color(gray_4);
    margin-bottom: rem(25);
    
    .section--bg &{
			color: #fff;
		}
  }
  &__text {
    color: color(gray_7);
		text-align: justify;
    font-size: rem(15);
    
    .section--bg &{
			color: #fff;
			opacity: .6;
		}
  }
}
