.card-a{
	max-width: rem(480);
	
	@include mq_max($sm){
		margin: 0 auto;
	}

	&--center{
		text-align: center;
		max-width: rem(260);
		margin: 0 auto;
	}
	&__icon{
		img{
			display: block;
			height: rem(97);
			width: auto;
			margin: 0 auto; 
		}
	}
	&__title{
		@extend %h2;
		color: color(gray_4);
		margin-bottom: rem(25);
	}
	&__text{
		color: color(gray_7);
		text-align: justify;
		@extend %type-light;
	}
}