.icon {
	display: inline-block;
	overflow: hidden;

	width: 100px;
	height: 100px;

	&--instagram {
		width: rem(20);
		height: rem(19);
	}
	&--message {
		width: rem(23);
		height: rem(18);
	}
	&--tel {
		width: rem(19);
		height: rem(19);
	}
	&--heart{
		width: rem(12);
		height: rem(12);
	}
	&--close{
		width: rem(14);
		height: rem(14);
	}
	&--dropdown{
		width: rem(14);
		height: rem(9);
	}
	&--done{
		width: rem(20);
		height: rem(20);
	}
	&--hourglass{
		width: rem(15);
		height: rem(20);
	}
	&--mouse{
		width: rem(18);
		height: rem(29);
	}
	&--arrow-left{
		width: rem(22);
		height: rem(14);
	}
	&--arrow-left-small{
		width: rem(14);
		height: rem(13);
	}
	&--update{
		width: rem(27);
		height: rem(35);
	}
	&--happy-face{
		width: rem(27);
		height: rem(27);
	}
	&--offers{
		width: rem(27);
		height: rem(27);
	}
	&--learning{
		width: rem(30);
		height: rem(31);
	}
	&--campaign{
		width: rem(25);
		height: rem(27);
	}
	&--templates2{
		width: rem(28);
		height: rem(26);
	}
	&--filter{
		width: rem(32);
		height: rem(32);
	}
	&--phone-call{
		width: rem(23);
		height: rem(23);
	}
	&--phone{
		width: rem(17);
		height: rem(17);
	}
}
