.modal{
	position: fixed;
	top:0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	z-index: z(modal);
	display: flex;
	align-items: center;
	justify-content: center;
	direction: ltr;
	background: rgba(13,25,44,.9);
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s linear;

	@include mq_max($xs){
		background: #fff;
	}
	.modal-open &{
		opacity: 1;
		pointer-events: all;
	}
	&.hidden{
		display: none;
	}
	&--invitation{
		@include mq_max_h(1300px){
			align-items: flex-start;
		}
	}

	&-close{
		position: fixed;
		top: rem(25);
		left: rem(25);
		width: rem(56);
		height: rem(56);
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 7px 10px rgba(color(blue_2),.17);
		transition: background-color .15s linear;
		z-index: z(modal);

		&:hover{
			background: color(gray_e5);
		}
		&:active{
			transform: translateY(1px);
		}

		svg{
			fill: color(gray_6);
			@include centered(true,true);
		}
	}
	&-content{
		width: 100%;
		position: relative;
		direction: rtl;
		z-index: 2;
		max-width: rem(600);
		opacity: 0;
		transform: scale(.9);
		transform-origin: center center;
		transition: transform 0.3s timings(easeOutQuint), opacity .15s linear;
		transition-delay: .2s;

		.modal-open &{
			opacity: 1;
			transform: scale(1);
		}
		&.fade-out{
			opacity: 0;
			transform: scale(.9);
		}
		.modal--invitation &{
			@include mq_max_h(1300px){
				padding: rem(90) 0;
			}
		}
	}
}