// -----------------------------------------------------------------------------
// This file contains all styles related to the projects of the site/application.
// -----------------------------------------------------------------------------
.projects {
  grid-column: 3/11;
  .project__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 2em 0;
    .card {
      .thumbnail {
        background-color: pink;
        width: 100%;
        height: 230px;
        border-radius: 15px;
      }
      .card_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.7em 0;
        h2 {
          margin: 0;
          font-size: 15px;
          a {
            text-decoration: none;
            color: $main-color;
          }
        }
        span.card_menu_collaps:not(nav) {
          background-color: $gray-6;
          border-radius: 9px;
          width: 30px;
          height: 30px;
          position: relative;
          cursor: pointer;
          svg {
            text-align: center;
            line-height: 29px;
            cursor: pointer;
          }
          nav.project_card_settings {
            position: absolute;
            width: 180px;
            z-index: 10;
            box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
            background-color: $white-0;
            border-radius: $border-radius;
            pointer-events: none;
            opacity: 0;
            display: none;
            ul {
              margin: 1.5em 0;
              padding: 0 1.2em;
              li {
                list-style: none;
                margin: 1.2em 0;
                a {
                  color: $main-color;
                  text-decoration: none;
                  font-weight: $medium-font-weight;
                  font-size: 13px;
                  display: block;
                  pointer-events: all;
                  &:hover{
                    @include transition(printString(color) $transition-delay-timingfunc);
                    color: $blue-marine;
                  }
                }
              }
            }
          }
        }
      }
      .card_info {
        display: flex;
        flex-direction: column;
        a.card_subdomain {
          color: $gray-5;
          font-weight: $bold-font-weight;
          text-decoration: none;
          font-size: 15px;
          font-family: $font-family-secoudary;
        }
        .url_link {
          font-weight: $medium-font-weight;
          span {
            margin-left: 0.3em;
          }
          time.date {
            font-size: 14px;
            font-family: $font-family-secoudary;
          }
        }
      }
    }
  }
}